@import 'main';
@import 'extra';

body{
    background-image:url('/res/quickChatBg2.jpg');
    background-position: center;
    background-size: cover;
}

.mainSection{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .formWrapper{
        background:rgba(0,0,0,0.5);
        .form{
            #loginButton{
                width: 100%;
            }
        }
    }
}

